.main-schedule-block {
  font-size: xx-small;
  height: 100%;
  overflow: hidden;
  height: 5em;
  line-height: 1.1em;
  margin: 0.2em;
}

.status-schedule-block {
  font-size: xx-small;
  flex-shrink: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60px;
}

.time-schedule-block {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 0;
}

.text-schedule-block {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  font-size: x-small;
}